

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend-api
    ports:
      - "3003:3002"
    environment:
      - NODE_ENV=production
      - FRONTEND_URL=http://localhost:4210,http://localhost
    volumes:
      - ./backend/src:/app/src
    networks:
      - app-network
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend-app
    ports:
      - "4210:80"
    depends_on:
      - backend
    environment:
      - API_URL=http://backend:3002
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge
